.home-section4 {
    background-color: #ffdacc;
    display: grid;
    display: grid;
    justify-content: left;
    height: 2.5rem;
    margin-top: 36.5rem;
    position: relative;
  }
  
  .home-heading4 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 10px;
    position: static;
  }