.logo{
  width: 26%;
  height: 26%;
  display: flex;
}

.hamburger-menu {
  font-size: 30px;
  display: flex;
}

.fa-cross-icon {
  color: black;
  margin-left: 89%;
  margin-right: auto;
  position: absolute;
  display: flex;
}

.fa-bars-icon {
  color: black;
  margin-left: 89%;
  margin-right: auto;
  position: absolute;
  display: flex;
}

.navbar-mobile {
  background-color: #ffdacc;
  text-align: right;
}

.navbar-ul-mobile {
  overflow: hidden;
  display: inline-block;
  margin-right: 16px;
}

.navbar-list-mobile {
  list-style-type: none;
  display: block;
  padding: 0.5rem 0 0.5rem 0;
}

.navbar-items-mobile {
  text-decoration: none;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 22px;
}

.navbar-list-mobile:hover {
  background-color: white;
  border-radius: 0.4rem;
}
@media screen and (max-width:390px) {
  .hamburger-menu {
    font-size: 30px;
    display: flex;
  }
  
  .fa-cross-icon {
    color: black;
    margin-left: 89%;
    margin-right: auto;
    position: absolute;
    display: flex;
  }
  
  .fa-bars-icon {
    color: black;
    margin-left: 89%;
    margin-right: auto;
    position: absolute;
    display: flex;
  }
  
  .navbar-mobile {
    background-color: #ffdacc;
    text-align: right;
  }
  
  .navbar-ul-mobile {
    overflow: hidden;
    display: inline-block;
    margin-right: 16px;
  }
  
  .navbar-list-mobile {
    list-style-type: none;
    display: block;
    padding: 0.5rem 0 0.5rem 0;
  }
  
  .navbar-items-mobile {
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 22px;
  }
  
  .navbar-list-mobile:hover {
    background-color: white;
    border-radius: 0.4rem;
  }
  
}
 